body {
    font-size: large;
    color: rgb(33, 1, 161);

    // background-image: url("../assets/bg.jpg");
    // background-repeat: no-repeat;
    //  background-attachment: fixed;
    //  background-position: center;
    //  background-size:cover;
    }

.light-green {
    color: rgb(199, 234, 206);
}
.yellow {
    color: yellow;
}

.footer-text {
    color: red;
}